.tag {
  display: inline-block;
  float: left;
  margin-right: 12px;
}

.note,
.warning {
  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  border-color: var(--primary-color);
  display: block;
}

.admonition-content {
  display: block;
  margin: 0px;
  padding: .125em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-x: auto;
  background-color: var(--black-05);
}

table {
  width: 80%
}

thead {
  border: 2px solid black;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

